$break-point: 'min-width: 700px';

$text-white: #ECF0F1;
$text-black: #222;

$primary-color: #34495E;
$secondary-color: #95A5A6;
$accent-color: #1ABC9C;
$secondary-accent-color: #7F8C8D;
$neutral-color: #16A085;

$not-started: #F39C12;
$started: #27AE60;
$finished: #C0392B;
